<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Teste de CalculaJuros em Twig</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Peso total = {{ pesoTotal|number_format(15, ',', '.') }}</p>
    <p>Acréscimo = {{ acrescimoCalculado|number_format(15, ',', '.') }}</p>
    <p>Juros = {{ jurosCalculado|number_format(15, ',', '.') }}</p>
</body>
</html>