<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Template</title>
</head>
<body>
    <h1>Template</h1>
    <p>Peso total = {{ pesoTotal }}</p>
    <p>Acréscimo = {{ acrescimoCalculado }}</p>
    <p>Juros = {{ jurosCalculado }}</p>
</body>
</html>